body {background-color: rgba(217, 77, 93,1); font-family: 'Montserrat', sans-serif; color: white; margin: 0}
img {width: 100%; margin: 0px; padding: 0em;}
p {margin-top: 1px; text-align: left;}
h3 {text-align: left;}
footer {padding-bottom: 1em; padding-top: 1em;}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(217, 77, 93,1);
  color: white;
}

#team {
  background-color: rgba(217, 77, 93,1);
}

#legal {
  background-color: white;
  color: black;
}

#text {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
}

#mug {
  padding-top: 1em;
  height: 75%;
  width: 75%;
  border-radius: 50%;
}

.col-md-3 {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#mug {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

#mug:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

#terms {padding: 1em;}


